$primary-color: #2bacc6;
$hover-color: darken($primary-color, 20%);
$alert-danger: #dc143c;
$alert-success: #2e8b57;
$shadow: 9px 6px 15px #c6c6c6;
$radius: 5px;
$borders: 1px solid;
$body: darken(#f7f7f7, 5%);
$body-dark: #17202a;

// units
$x-small: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;

//maghimo kag separate body scss kay nagstack ang * ug body sa devtools
//tangalla ang bootstrap then i refactor ang navigationbar

// :root {
// 	--shadow: 9px 6px 15px #c6c6c6;
// 	--standard: #3d7f95;
// 	--headers: #5177b2;
// 	--boxcolor: #cdcdcd;
// 	--hover: #72cce8;
// 	--borders: 1px solid #c6c6c6;
// 	--danger: #dc143c;
// 	--success: #2e8b57;
// 	--body: #f7f7f7;
// }
