$primary: #48a9f1;
$light: #f7f7f7;
$dark: #17202a;
$disabled: lighten($dark, 10%);
$danger: #a00107;
$success: #2e8b57;
$shadow: 9px 10px 10px darken($light, 20%);
$radius: 10px;
$borders: 1px solid $primary;

$x-small: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;
$x-large: 5rem;
