@import 'config';

.menu-category {
	max-width: 30rem;
	@include set-bg($dark);
	padding: $small;
	border: $borders;
	border-radius: $radius;
	.menu-item-putahe {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 15px;
	}
}
