@import 'config';

@function set-txt-color($color) {
	@if (lightness($color) > 40) {
		@return $dark;
	} @else {
		@return $light;
	}
}

@mixin set-bg ($color) {
	background-color: $color;
	color: set-txt-color($color);
}

@mixin set-color ($color) {
	color: $color;
	transition: color 200ms;
	margin-left: .3rem;
	&:hover {
		color: $primary;
	}
}

@mixin grid-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 20px;
	justify-content: center;
	align-content: center;
}

@mixin flex-row {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	flex-wrap: wrap;
}

@mixin btn {
	border: none;
	font: inherit;
	transition: background-color, color, 200ms;
}

@mixin input-designs {
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	select,
	input[type ='checkbox'] {
		display: block;
		width: 100%;
		font-size: $small;
		border: $borders;
		margin: auto;
		padding: $x-small;
	}

	input[type='submit'] {
		margin: $x-small;
	}
}
