@import 'config';

@function set-txt-color($color) {
	@if (lightness($color) > 30) {
		@return $dark;
	} @else {
		@return $light;
	}
}

@mixin set-bg ($color) {
	background-color: $color;
	color: set-txt-color($color);
}

@mixin grid-container {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 20px;
	justify-content: center;
	align-content: center;
}

@mixin flex-row {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
}

@mixin flex-col {
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}

@mixin btn {
	border: none;
	font: inherit;
	transition: background-color, color, 200ms;
}

@mixin input-designs {
	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='date'],
	select,
	input[type ='checkbox'] {
		display: block;
		width: 100%;
		font-size: $small;
		border: 1px solid #ccc;
		margin: auto;
	}
	input[type='submit'] {
		font-size: inherit;
	}
}
