@import 'config';
@import 'mixins';

.navbar {
	@include set-bg($dark);
	padding: 1rem;
	border-bottom: $borders;
	margin-bottom: $medium;

	&-menu {
		&-item {
			margin-left: 5px;

			> .order-counter {
				color: red;
			}
		}
	}
}

.nav-dropdown {
	position: relative;
}

.nav-menu-dropdown {
	position: fixed;
	right: 0px;
	top: 40px;
	width: 200px;
	z-index: 1;
	border: 1px solid $primary;

	&-item {
		width: 100%;
		text-align: center;
		display: block;
		margin: 0;
		.btn-wrapper {
			width: inherit;
		}
	}
}
