@import 'config';
@import 'mixins';

.navbar {
	background-color: $body-dark;
	padding: 1rem;
	@include flex-row-spc-btwn;

	&-brand {
		color: $primary-color;
		&:hover {
			color: $hover-color;
		}
	}

	&-menu {
		@include flex-row-spc-btwn;

		&-item {
			margin-right: px;
		}
	}
}

.nav-dropdown {
	position: relative;
}

.nav-menu-dropdown {
	position: absolute;
	right: 0px;
	top: 25px;
	width: 200px;
	background-color: $body;
	z-index: 1;

	&-item {
		display: inline-block;
		width: 100%;
	}
}
