@import 'config';
@import 'mixins';

.order-form {
	max-width: 600px;
	border: $borders;
	@include set-bg($dark);

	.order-item {
		margin: $small;

		select {
			display: block;
			width: 150px;
			font-size: $small;
			border: $borders;
			margin: $x-small auto;
			padding: $x-small;
		}
	}
}
