@import 'mixins';
@import 'config';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
	@include set-bg($light);
}

#show {
	display: block;
}

#hide {
	display: none;
}

.container {
	width: 90%;
	margin: auto;
	padding: 0 $medium;
	text-align: center;
	overflow: hidden;
}

.grid-container {
	@include grid-container;
	overflow: hidden;
	margin: $medium 0;
}

.flex-container {
	@include flex-row;
	overflow: hidden;
}

.btn-wrapper {
	@include btn;
	padding: 10px;
	width: 8rem;
	display: inline-block;
	&:hover {
		@include set-bg($primary);
	}
	&:disabled {
		@include set-bg($disabled);
	}
}

.fa-times {
	@include set-color($danger);
}

.btn-wrapper-transparent {
	@include btn;
	@include set-bg(transparent);

	&:hover {
		color: $primary;
	}
}

.dark {
	@include set-bg($dark);
}

.light {
	@include set-bg ($light);
}

.danger {
	@include set-bg ($danger);
}

.success {
	@include set-bg ($success);
}

.alert {
	background-image: linear-gradient(transparent, $dark);
	padding: 1rem;
	margin: 1rem auto;
	width: inherit;
	text-align: center;
	border-radius: $radius;
	font-size: 20px;
}

.form-global {
	width: 60%;
	margin: $medium auto;
	text-align: center;
	@include set-bg(darken($light, 10%));
	border-radius: 10px;
	border: $borders;
	padding: $small;
	box-shadow: $shadow;
	overflow: hidden;

	.form-family {
		width: 95%;
		display: block;
		margin: $small auto;

		@include input-designs;
	}

	table {
		width: 100%;
		margin: auto;
		border-collapse: collapse;
		text-align: center;

		th,
		td {
			width: 15rem;
			padding: $x-small;
		}

		tr:nth-child(even) {
			@include set-bg(darken($light, 15%));
		}

		.qty-counter {
			width: 100%;
			margin: auto;
			.btn-wrapper {
				width: 30px;
			}

			input[type='text'] {
				text-align: center;
				width: 30px;
				font-size: $small;
				border: $borders;
				margin: auto $x-small;
				padding: $x-small;
			}
		}
	}
}
