.about {
	width: 70%;
	margin: 1.5rem auto;
	padding: 2em;
	box-shadow: var(--shadow);
	font-size: 1rem;
	border-radius: 10px;
}

.center {
	text-align: center;
	margin-bottom: 20px;
}

.about .specs {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}

.about .specs ul {
	width: 30%;
}
footer p {
	text-align: center;
}
