#landing {
	z-index: 1;
	position: relative;
	height: 100vh;
}

.landCont {
	z-index: 1;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.landCont p {
	color: var(--standard);
	margin: 0 0 10px 0;
	font-size: 1.3rem;
}

.landCont hr {
	width: 25rem;
	color: var(--standard);
	margin: 10px 0 10px 0;
}

.landCont button {
	background-color: transparent;
	border: 1px solid var(--standard);
	color: var(--standard);
	padding: .5rem;
	border-radius: 3px;
}

.landCont button:hover {
	border: 1px solid var(--hover);
	color: var(--hover);
}

.slideshow {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
	background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80);
}

.slideshow li:nth-child(2) {
	background-image: url(https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	animation-delay: 10s;
}

.slideshow li:nth-child(3) {
	background-image: url(https://images.unsplash.com/photo-1498531872221-ce6d6216be71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
	animation-delay: 20s;
}

.slideshow li:nth-child(4) {
	background-image: url(https://images.unsplash.com/photo-1516685018646-549198525c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	animation-delay: 30s;
}
.slideshow li:nth-child(5) {
	background-image: url(https://images.unsplash.com/photo-1529259266118-cf22737f713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80);
	animation-delay: 40s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-out;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-in;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}
